body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(139, 139, 139);
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    font-style: normal;
    font-weight: normal;
      color: black;
 
  }
 
p {
  color: white;
}

a{
  color: #303030;
}

.social-icon {
    color: white;
    transition: color 0.2s;
}

.social-icon:hover {
    color: #cccccc;
}

.back {
    color: white;
}