body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
      color: black;
 
  }
 
p {
  color: white;
}

a{
  color: #303030
}