body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(139, 139, 139);
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
      color: rgb(139, 139, 139);
 
  }
 
p {
  color: white;
  text-align: center;
}

a{
  font-style: italic;
  color: #ffffff
}

.social-icon {
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  margin: 0 10px;
}

.social-icon:hover {
  color: #cccccc;
}